html, body {
    height: 100%;
    font-family: "Raleway", cursive;
}

/*================================================
        HOME
=================================================*/  
#home {
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home-content-box {
    text-align: center;
    padding-top: 200px;
}

#home-heading h1 {
    color: #AA6958;
    font-weight: 200;
    font-size: 120px;
    
}

#home-heading h3 {
    color: #707780;
    border-color: #369C31;
    font-weight: 200;
    font-size: 40px;
}

/*================================================
        HOME ARROW
=================================================*/ 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow {
    padding-top: 50px;
    color: #AA6958;
    bottom: 0;
    height: 85px;
    text-align: center;
}

.arrow:hover {
    color: #C68B69;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 4s infinite;
}